# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# permission for Input Device(TouchScreen).
    chmod 0660 /sys/class/input/input1/enabled
    chown system system /sys/class/input/input1/enabled

# SSWAP
    write /proc/sys/vm/swappiness 130

# permissions for touchkeys
    chown system system /sys/class/sec/sec_touchkey/extra_button_event

# efs
   # mkdir /efs/drm 0700 system system
    mkdir /efs/imei 0775 radio radio
    restorecon -R /efs

# TODO: replace it with device's DEXPREOPT_BOOT_JARS

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
    class main
    user root
    disabled
    oneshot

# start for TZPR provisioning version check app
on property:sys.qseecomd.enable=true
    start scranton_RD

    mkdir /efs/drm/playready 0775
    chown drm system /efs/drm/playready
    chmod 0775 /efs/drm/playready    

#For Absolute Persistence Partition 

on fs
     mkdir /persdata 0755 system system 
     mkdir /persdata/absolute 0750 system system 
  
     wait /dev/block/platform/msm_sdcc.1/by-name/persdata 
     check_fs /dev/block/platform/msm_sdcc.1/by-name/persdata ext4 
     mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persdata /persdata/absolute nosuid nodev barrier=1 
      
     chown system system /persdata 
     chmod 0755 /persdata 
     chown system system /persdata/absolute 
     chmod 0750 /persdata/absolute

# For Verizon Device Stats Partition

    mkdir /vzw 0755 system system

    wait /dev/block/platform/msm_sdcc.1/by-name/carrier
    check_fs /dev/block/platform/msm_sdcc.1/by-name/carrier ext4
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/carrier /vzw nosuid nodev barrier=1

    chown system system /vzw
    chmod 0755 /vzw

# Kickstart the Wireless subsystem
write /dev/wcnss_wlan 1
write /sys/module/wcnss_ssr_8960/parameters/enable_riva_ssr 1

service ftm_ptt /system/bin/ftm_ptt -d
    user root
    group radio system
    disabled

# end of wifi

#InsideSecure VPN Client
service vpnclientpm /system/bin/vpnclientpm -u 1000 -g 1000 \
     -O /data/data/com.ipsec.service/vpnclientpm.txt \
     -U rmnet,rmnet_usb,wlan,bt-pan,rndis,p2p,eth
      socket vpnclientpm seqpacket 0600 system system
      disabled
on property:service.vpnclientpm.enable=1
      start vpnclientpm
on property:service.vpnclientpm.enable=0
      stop vpnclientpm

# SSWAP
service swapon /sbin/sswap -s
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot
